@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 400;
	letter-spacing: .05rem;
}

.titulo { 
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}
.titulo span {
	color: #0abab5;
}

.brand h1 {
	font-size: 4rem;
	font-family: 'Sacramento', cursive;
	color: #808080;
}

/* Seção Header */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: .3s ease background-color;
}

#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-lista ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: .5s ease left;
}
#header .nav-lista ul.active {
	left: 0%;
}
#header .nav-lista ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-lista ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: .3s ease letter-spacing;
}
#header .nav-lista ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-lista ul li:hover a {
	color: #8a2be2;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: .3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* Fim da Seção Header */

/* Seção Banner */
#banner {
	background-image: url(./img/luana.png);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#banner::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: .1;
	z-index: -1;
}
#banner .banner {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#banner h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal .5s ease forwards;
	animation-delay: 1s;
}
#banner h1:nth-child(1) {
	animation-delay: 1s;
}
#banner h1:nth-child(2) {
	animation-delay: 2s;
}
#banner h1:nth-child(3) {
	animation: text_reveal_name .5s ease forwards;
	animation-delay: 3s;
}
#banner h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: #00b8b8;
	animation: text_reveal_box 1s ease;
	animation-delay: .5s;
}
#banner h1:nth-child(1) span {
	animation-delay: .5s;
}
#banner h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#banner h1:nth-child(3) span {
	animation-delay: 2.5s;
}
/* Fim da Seção Banner */

/*Seção Sobre*/

#sobre .sobre {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}

#sobre .col-esquerda {
	width: 250px;
	height: 360px;
}
#sobre .col-direita {
	width: 100%;
}
#sobre .col-direita h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: .2rem;
	margin-bottom: 10px;
}
#sobre .col-direita p {
	margin-bottom: 20px;
	text-align: justify;
}

#sobre .col-esquerda .sobre-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 10px solid white;
}
#sobre .col-esquerda .sobre-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid white;
	z-index: -1;
}
/*Fim da Seção Sobre*/

/*Seção Serviços*/
#serviços .serviços {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
#serviços .serviços-top {
	max-width: 500px;
	margin: 0 auto;
}
#serviços .serviços-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}
#serviços .serviços-item {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-image: url(./img/img-1.png);
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 9;
	overflow: hidden;
}
#serviços .serviços-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: whitesmoke;
	opacity: .9;
	z-index: -1;
}

#serviços .serviços-bottom .icon {
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
}
#serviços .serviços-item h2 {
	font-size: 17px;
	color: grey;
	margin-bottom: 10px;
	text-transform: uppercase;
}
#serviços .serviços-item p {
	color: black;
	text-align: justify;
}
/*Fim da Seção Serviços*/

/* Seção de Projetos */
#projetos .projetos {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
#projetos .projetos-header h1 {
	margin-bottom: 50px;
}
#projetos .projetos-geral {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#projetos .projetos-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#projetos .projetos-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(#00cccc 0%, #8a2be2 100%);
	color: white;
}
#projetos .projetos-info h1 {
	font-size: 4rem;
	font-weight: 500;
}
#projetos .projetos-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}
#projetos .projetos-info p {
	color: white;
}
#projetos .projetos-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#projetos .projetos-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: .1;
}
#projetos .projetos-img img {
	transition: .3s ease transform;
}
#projetos .projetos-item:hover .projetos-img img {
	transform: scale(1.1);
}
/* Fim da Seção de Projetos */

/*Seção Contato*/
#contato .contato {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
}
#contato .contato-items {
	width: 400px;
}
#contato .contato-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: .3s ease box-shadow;
}
#contato .contato-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}
#contato .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#contato .contato-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contato .contato-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}
/*Fim da Seção Contato*/

/*Seção Localização*/
#mapa .mapa {
	width: 100%;
	display: inline-block;
	align-items: center;
	justify-content: center;
	margin-top: 200px;
}

#mapa p {
	text-align: center;

}

#mapa .mapa-item {
	width: 960px;
	margin: auto;
	margin-bottom: 50px;
}
/*Fim da Seção Localização*/

/*Rodape*/
#rodape {
	background-color: #dcdcdc;
	width: 100%;
}

#rodape .rodape {
	min-height: 200px;
	flex-direction: column;
	padding-top: 40px;
	padding-bottom: 10px;
}

#rodape h2 {
	color: black;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: .1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}

#rodape .social-icon {
	display: flex;
}

#rodape .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
	float: left;
	filter: grayscale(1);
    transition: 400ms;
}

#rodape .social-item:hover{
    filter: grayscale(0);
}

#rodape p {
	color: black;
	font-size: 1.3rem;
}

#rodape .copyright 
{
	display: inline-block;
	margin-bottom: 20px;
}
/*Fim do Rodape*/

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: #00b8b8;
		font-weight: bolder;
	}
}
/* Fim do Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {

	/* Banner */
	#banner h1 {
		font-size: 7rem;
	}
	/* Fim do Banner */

	/* Seção de Serviços */
	#serviços .serviços-bottom .serviços-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	/* Fim da Seção de Serviços */

	/* Seção Projetos */
	#projetos .projetos-item {
		flex-direction: row;
	}
	#projetos .projetos-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projetos .projetos-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projetos .projetos-geral .projetos-info {
		height: 100%;
	}
	#projetos .projetos-geral .projetos-img {
		height: 100%;
	}
	/* Fim da Seção Projetos */

	/* Seção Sobre */
	#sobre .sobre {
		flex-direction: row;
	}
	#sobre .col-esquerda {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#sobre .sobre .col-esquerda .sobre-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid #0abab5;
	}
	#sobre .col-direita {
		text-align: left;
		padding: 30px;
	}
	#sobre .col-direita h1 {
		text-align: left;
	}
	/* Fim da Seção Sobre */

	/* Seção Contato  */
	#contato .contato {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contato .contato-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contato .contato-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contato .contato-item .icon {
		height: 100px;
		width: 70px;
	}
	#contato .contato-item .icon img {
		object-fit: contain;
	}
	#contato .contato-item .contato-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	/* Fim da Seção Contato  */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-lista ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-lista ul li {
		display: inline-block;
	}
	#header .nav-lista ul li a {
		font-size: 1.8rem;
	}
	#header .nav-lista ul a:after {
		display: none;
	}
	/* End header */

	#serviços .serviços-bottom .serviços-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/* End  Media Query For Desktop */